# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# builds
build/
dist/

# environment
.env

# system files
.DS_Store
Thumbs.db

# test and coverage
.nyc_output
coverage
.cache
