/* Artillero, Lexin Andrei G. */

nav {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

nav a {
  color: #F9FAFB;
  margin-left: 16px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #EF4444;
}

.logo {
  color: #F9FAFB;
  font-weight: 600;
  font-size: 1.25rem;
}

.nav-links {
  display: flex;
  gap: 24px;
}